.scroll-box{
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    border-style:solid;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    height: 200px;
    overflow-y: scroll;
    padding: 5px 15px;
}

div.scroll-box table{
    margin-right: auto;
    margin-left: auto;
}


.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    min-height: 1px;
}

.score-span{
    margin-top: 2px;
}

.score{
    float:left;
}

.log-btn{
    float: right;
}

.game-field-table{
    margin-bottom: 10px;
    width: 90px;
    text-align: center;
}
.game-field-row{
    line-height: 30px;
    text-align: center;
}
.game-field-cell{
    vertical-align: top;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    width: 30px;
}