{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="span3">
  <h3>{{ tour.name }}</h3>
    <ul>
        <li>
            Start Time: {{ tour.start_time|date:"d N Y" }}
        </li>
        <li>
            End Time: {{ tour.end_time|date:"d N Y"  }}
        </li>
        <li>
            Time limits: {{ tour.tl }}
        </li>
        <li>
            Game: {{ tour.c }}
        </li>
    </ul>

{% if formSend %}
    {% if status %}
        {% if status.ok %}
            Your solution was builded successfully!
        {% else %}
            Error occured:<br/>
            <textarea readonly="True" cols="40" > {{ status.msg }} </textarea>
        {% endif %}
    {% endif %}
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ formSend.as_p }}

      <input type="submit" value="{% trans 'Submit' %}" />

    </form>
{% elif formReg %}
    <form method="post" action=".">
      {% csrf_token %}
      {{ formReg.as_p }}

      <input type="submit" value="{% trans 'Join tournament' %}" />
    </form>

{% endif %}

    </div>
    <div class="span9">
    {% if result %}
    <h5>{% trans "Last results"%}</h5>

    <ul>
    {% for res in result %}
    <li>
        User {{ res.name }} got {{ res.points }} point(s).
    </li>

    {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}
