{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h3>{{ tour.name }}</h3>
    <ul>
        <li>
            Start Time: {{ tour.start_time }}
        </li>
        <li>
            End Time: {{ tour.end_time }}
        </li>
        <li>
            Time limits: {{ tour.timelimit }}
        </li>
        <li>
            Game: {{ tour.checker }}
        </li>
    </ul>

{% if form %}
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endif %}

{% endblock %}
