{% extends "base.html" %}
{% load i18n %}
{% block content %}


   <div style="text-align: center"><h3>{{ user_info.name }}</h3>
       {% if user_info.email %}
       <p>{{ user_info.email }}</p>
       {% endif %}
   </div>

   {% if tour_info or old_tour_info%}
    <div class="panel-group" id="accordion">
    {% if old_tour_info %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#oldTours">
                Closed tournaments
                </a>
            </h4>
        </div>
        <div id="oldTours" class="panel-collapse collapse">
        <div class="panel-body" style="padding-left: 20px">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#oldTours1">
                            Closed tournaments1
                            </a>
                        </h5>
                    </div>
                    <div id="oldTours1" class="panel-collapse collapse">
                        a;lksdf;askndflkansdf;lnaksdf
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
    {% if tour_info %}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#curTours">
              Current tournaments
            </a>
          </h4>
        </div>
        <div id="curTours" class="panel-collapse collapse in">
          <div class="panel-body" style="padding-left: 20px">
            <div class="panel-group" id="accordion3">
                {% for tour in tour_info %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion3" href="#curTours{{ tour.id }}">
                            {{ tour.name }}
                            </a>
                        </h5>
                    </div>
                    <div id="curTours{{ tour.id }}" class="panel-collapse collapse">
                        {% if tour.pts  %}
                            Score: {{ tour.pts }}<br>
                        {% endif %}
                        Start date: {{ tour.start_time }}<br>
                        End date: {{ tour.end_time }}<br>
                        {% if tour.runs %}
                            Results: <br>
                            <div style="background-color: #FFFFFF; border-color: #DDDDDD;  border-radius: 4px 4px 4px 4px;
                            border-style:solid; border-width: 1px; box-shadow: none; margin-left: 0; margin-right: 0;
                            height: 100px; overflow-y: scroll">
                            {% for r in tour.runs %}
                                YOU {{ r.3 }} - {{ r.4 }} <a href="/users/{{ r.2 }}">{{ r.2 }}</a><br>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
    </div>
    {% endif %}
{% endblock %}
