{% extends "base.html" %}
{% load i18n %}
{% block content %}


   <div style="text-align: center"><h3>{{ user_info.name }}</h3>
       {% if user_info.email %}
       <p>{{ user_info.email }}</p>
       {% endif %}
   </div>

   {% if tour_info or old_tour_info%}
    <div class="panel-group" id="accordion">
    {% if old_tour_info %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#oldTours">
                Closed tournaments
                </a>
            </h4>
        </div>
        <div id="oldTours" class="panel-collapse collapse">
        <div class="panel-body" style="padding-left: 20px">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#oldTours1">
                            Closed tournaments1
                            </a>
                        </h5>
                    </div>
                    <div id="oldTours1" class="panel-collapse collapse">
                        a;lksdf;askndflkansdf;lnaksdf
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
    {% if tour_info %}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#curTours">
              Current tournaments
            </a>
          </h4>
        </div>
        <div id="curTours" class="panel-collapse collapse in">
          <div class="panel-body" style="padding-left: 20px">
            <div class="panel-group" id="accordion3">
                {% for tour in tour_info %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion3" href="#curTours{{ tour.id }}">
                            {{ tour.name }}
                            </a>
                        </h5>
                    </div>
                    <div id="curTours{{ tour.id }}" class="panel-collapse collapse">
                        {% if tour.pts  %}
                            Score: {{ tour.pts }}<br>
                        {% endif %}
                        Start date: {{ tour.start_time|date:"d N Y"  }}<br>
                        End date: {{ tour.end_time|date:"d N Y"  }}<br>
                        {% if tour.runs %}
                            Results: <br>
                            <div class="scroll-box span6">
                            {% for r in tour.runs %}
                                {% ifchanged r.0 %}
                                    <div class="line-separator"></div>
                                {% endifchanged %}
                                <div class="score-span" style="margin-left:0px !important; ">
                                    <span class="score">
                                        {% if r.2 == user_info.name %}
                                            {{ r.2 }}
                                        {% else %}
                                             <a href="/users/{{ r.2 }}">{{ r.2 }}</a>
                                        {% endif %}
                                        {{ r.4 }} - {{ r.5 }}
                                        {% if r.3 == user_info.name %}
                                            {{ r.3 }}
                                        {% else %}
                                             <a href="/users/{{ r.3 }}">{{ r.3 }}</a>
                                        {% endif %}
                                    </span>
                                    <button name="log" data-gameid="{{r.1}}" class="btn btn-info btn-mini log-btn" type="button">View log</button>
                                </div>
                            {% endfor %}
                            </div>
                            <div id="game_log" class="span5 scroll-box" style="display: none">

                            </div>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
    </div>
    {% else %}
       <p style="text-align: center">
       {% if user_info.email %}
      You haven't participated in any tournaments yet. Visit <a href="/">main page</a> and choose one.
       {% endif %}
       </p>
    {% endif %}
{% endblock %}
